ENV=development

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=
DB_DATABASE=
DB_SYNCHRONIZE=true

JWT_SECRET=
JWT_EXPIRATION=300s
JWT_ACCESS_TOKEN_EXPIRATION=900
JWT_ACCESS_TOKEN_UNIT=s
JWT_REFRESH_TOKEN_EXPIRATION=604800
JWT_REFRESH_TOKEN_UNIT=s

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5552
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=/

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

PASSWORD_ROUNDS=

PORT=3000
NOTIFICATION_APP_PORT=3001

FRONTEND_URL=http://localhost:5478/